<ion-header>
  <ion-toolbar>
    <ion-title>Login 7me APP</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <p><b><ion-input value="ERROR" color="danger" ></ion-input></b> 
  <ion-input value="Invalid username o password" color="danger"></ion-input><br>
  </p>
  <ion-item>
    <ion-label position="floating">Correo Electronico, usuario o teléfono</ion-label>
    <ion-input></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Contraseña</ion-label>
    <ion-input></ion-input>
  </ion-item>
  
  <ion-button href="">Entrar</ion-button><br>
  
  <ion-button color="light">OLVIDE MI CONTRASEÑA</ion-button>
  
</ion-content>
