<ion-header>
  <ion-toolbar>
    <ion-title style="color: rgb(0, 38, 255);">Datos para Transferencia / Deposito Bancario</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
  <ion-grid>
    <ion-row>
      <ion-label text-wrap style="color: rgb(0, 102, 255);">
        1. Elige una cuenta bancaria.
      </ion-label>  <br>
  
      <ion-label text-wrap style="color: rgb(0, 102, 255);">
        2. Realiza una transferencia para la cuenta que elegiste a traves del aplicativo del banco o realiza el depósito directo en el entidad bancaria.
      </ion-label>
  
      <ion-label text-wrap style="color: rgb(0, 102, 255);">
        3. Retorna a la APP y anexa el comprobante de transferencia o deposito.
      </ion-label><br>
  
      <ion-label text-wrap style="color: rgb(0, 102, 255);">
        4. Haz click en Confirmar y listo.
      </ion-label><br>
  
      <ion-label text-wrap style="color: rgb(0, 102, 255);">
        5. Recuerda limite de archivo de 5 megabyte.
      </ion-label><br>
        
    </ion-row>
  </ion-grid>

    <ion-row>
      <ion-col size="12" size-md>
        Iglesia Adventista Jerusalen
      </ion-col>
      <ion-col size="12" size-md>
        RUT:
        65002737-K
      </ion-col>
      <ion-col size="12" size-md>
        Nombre:
        Iglesia adventista Jerusalen
      </ion-col>
      <ion-col size="12" size-md>
        Banco:
        Banco de Chile
      </ion-col>
      <ion-col size="12" size-md>
        Alias:
        Jerusalen
      </ion-col>
      <ion-col size="12" size-md>
        Correo Electronico:
        francisco.hueraman@gmail.com
      </ion-col>
      <ion-col size="12" size-md>
        Tipo Cuenta:
        Cuenta Corriente
      </ion-col>

      <ion-col size="12" size-md>
        N° Cuenta:
        123123098
      </ion-col>
    </ion-row>

      <ion-item>
        <h3 style="color: rgb(0, 38, 255); align-content: center;">Gracias por Diezmar a la Iglesia</h3>
      </ion-item>
    <ion-item>
      <h3>Cada uno dé como propuso en su corazón: no con tristeza, ni por necesidad, porque Dios ama al dador alegre.
        2 Corintios 9:7</h3>
    </ion-item>
  




</ion-content>
