<ion-header>
  <ion-toolbar>
    <ion-title>Adorar - Diezmando</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="floating">Diezmo</ion-label>
    <ion-input type="number" placeholder="Ingrese Monto" id="monto" onchange=""></ion-input>

  
  </ion-item>
  <ion-item>

  <b><ion-label style="text-align:right ;">VALOR TOTAL:   </ion-label></b>

 
</ion-item>
  <ion-item>
  <ion-button  routerLink="/datos-tef" routerDirection="back" size="medium">Continuar</ion-button>
  </ion-item>
</ion-content>
