<ion-header>
  <ion-toolbar>
    <center><ion-title>Hola, Susana Aurora Bienvenida</ion-title></center>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid fixed>
    <ion-row>
      <h1 style="color: rgba(0, 0, 255, 0.623);">¿Cómo te gustaría adorar a la iglesia Seleccionada?</h1>
    </ion-row>
    <br><br>
    <ion-row>
      <ion-col size="4"><ion-button  routerLink="/monto" routerDirection="back" size="medium">+ Diezmo</ion-button></ion-col>
      <ion-col size="4"><ion-button routerLink="/acceder" routerDirection="back" size="medium">+ Ofrendar/Pacto</ion-button></ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12"><ion-img src="../assets/img/7.jpg" style="width: 100%; height: 100%;" ></ion-img></ion-col>
    </ion-row>


  </ion-grid>
</ion-content>
