<ion-header>
  <ion-toolbar>
    <center><ion-title>Registro Nuevo Usuario</ion-title></center>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label>Nombre</ion-label>
    <ion-input placeholder="Ingrese Nombre" id="nombre"></ion-input>
  </ion-item>
  <ion-item>  
    <ion-label>Apellido</ion-label>
    <ion-input placeholder="Ingrese Apellido" id="apellido"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Teléfono</ion-label>
    <ion-input placeholder="Ingrese Teléfono" id="telefono"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Email</ion-label>
    <ion-input placeholder="Ingrese Email" id="email"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Nombre Usuario</ion-label>
    <ion-input placeholder="Ingrese Nombre Usuario" id="usuario"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Password</ion-label>
    <ion-input placeholder="Ingrese Password" id="clave"></ion-input>
  </ion-item>
  <center><br>
  <ion-button href="/adduser-ok">Crear Usuario</ion-button>
  <ion-button href="/home">Cancelar</ion-button>
  </center>
 
</ion-content>
