<ion-header>
  <ion-toolbar>
    <center><ion-title>Hola, Susana Aurora Bienvenida</ion-title></center>
  </ion-toolbar>
</ion-header>

<ion-content>
 <ion-grid fixed>
  <ion-row>

  </ion-row>
  <ion-row>
    <ion-col size="12"><ion-img src="../assets/img/cordillera.jpg" style="width: 100%; height: 100%;" ></ion-img></ion-col>
  </ion-row>
  <ion-col size="12">
    <ion-list>
      <ion-item>
        <ion-select placeholder="Seleccionar Iglesia">
          <ion-select-option value="Jerusalen">Jerusalen</ion-select-option>
          <ion-select-option value="Andes">Andes del Sur</ion-select-option>
          <ion-select-option value="Mahanaim">Mahanaim</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list>
  </ion-col>
  <ion-row>
    <ion-col size="5"><p>"El señor es mi pastor, nada me faltara." Salmo 23:1</p></ion-col>
    <ion-col size="7"><ion-button routerLink="/tipo" routerDirection="back">Diezmar y Ofrendar</ion-button></ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="12"><ion-img src="../assets/img/oracion.jpg" style="width: 100%; height: 100%;" ></ion-img></ion-col>
  </ion-row>
  

</ion-grid>

</ion-content>
