<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <center>Tu Iglesia Junto a Ti</center>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <!--<strong>Ready to create an app?</strong>
    <p>Start with Ionic <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p>
    -->
    <ion-grid fixed>
      <ion-row>
        <ion-col size="12"><ion-img src="../assets/img/dos.jpg" style="width: 100%; height: 100%;" ></ion-img></ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="6"><ion-button href="/acceder">Acceder</ion-button></ion-col>
        <ion-col size="6"><ion-button href="/adduser">Crear Usuario</ion-button></ion-col>
      </ion-row>
    </ion-grid>

    <p><br>Si prefieres diezmar, ofrendar o acceder o otros recursos</p>
    <p>sin registrarse, por favor elija una Iglesia a continuación</p>
    <br><br><br><br>
    <ion-input placeholder="Buscar por iglesia o lugar"></ion-input>
  </div>
</ion-content>
